<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzapp</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous">
        <link rel="stylesheet" href="./assets/css/style.css">
    </head>
    <body>
        <div id="app">
            <header>
                <div class="top-bg">

                </div>
            </header>
            <main>
                <div class="bottom-bg">
                    <div class="container d-flex">
                        <div class="left">
                            <div class="user-me">
                                <div class="user-me-profile">
                                    <div class="user-me-img">
                                        <img class="user-thumb"
                                            src="./assets/img/avatar_io.jpg" alt>
                                    </div>
                                    <div class="user-me-name"><h6>Sofia</h6></div>
                                </div>
                                <div class="user-me-icons">
                                    <a href="#"><i
                                            class="fa-solid fa-circle-notch"></i></a>
                                    <a href="#"><i class="fa-solid fa-message"></i></a>
                                    <a href="#"><i
                                            class="fa-solid fa-ellipsis-vertical"></i></a>
                                </div>

                            </div>
                            <div
                                class="notify-msg p-2 d-flex align-items-center gap-2">
                                <div
                                    class="circle p-1 d-flex align-items-center"><i
                                        class="fa-solid fa-bell-slash fa-xl"></i></div>
                                <div class="notify-text d-flex flex-column pt-2">
                                    <div class="notify-title"><h6>Ricevi
                                            notifiche
                                            sui nuovi messaggi</h6>
                                    </div>
                                    <div class="notify-subtitle">
                                        <a href><p>Attiva notifiche desktop</p></a>
                                    </div>
                                </div>

                            </div>
                            <div class="search d-flex input-group">
                                <label for="exampleDataList" class="form-label"></label>
                                <span class="input-group-text search-btn"
                                    id="addon-wrapping"><i
                                        class="fa-solid fa-magnifying-glass fa-sm"></i></span>
                                        
                                <input class="form-control" @keyup="searchContact()" v-model="search"  list="datalistOptions" id="exampleDataList"
                                    placeholder="Cerca o inizia una nuova chat">
                                    
                               
                                </div>

                                <!-- Contatti dinamici -->
                                <div class="all-contacts">

                               <!-- cicla e Mostra solo se visible=true -->
                                    <template v-for="(contact, index) in contacts">
                                    <div class="contact d-flex justify-content-between p-2" :class="index === activeContact ? 'active' : '' "  @click="selectChat(index)" v-if="contact.visible" >
                                        
                                        
                                        
                                        <div class="user-left d-flex gap-4">
                                            <div
                                                class="user-pic d-flex justify-content-center align-items-center">
                                                <img class="user-thumb"
                                                    :src="contact.avatar" alt>
                                            </div>
                                            <div
                                                class="contact-info d-flex flex-column">
                                                <div class="contact-name">
                                                    <h6>{{contact.name}}</h6>
                                                </div>
                                                <div class="last-msg">
                                                    <!-- risolvere problema ultimo della lista -->
                                                    <p v-if="">{{contacts[index].messages[contacts[index].messages.length - 1].message}}</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="hour">
                                            <p>12:00</p>
                                        </div>
                                    
                                </div>

                                 </template>

                            </div>
                            </div>
                            <div class="right d-flex flex-column justify-content-between">

                                <!-- Inserire contatto dinamico -->
                                <div class="contact-active d-flex justify-content-between align-items-center p-2">
                                    <div class="user-right d-flex gap-4 ">
                                        
                                        <div class="user-pic d-flex justify-content-center align-items-center">
                                             <!-- Inserire avatar dinamico -->
                                            <img class="user-thumb" :src="contacts[activeContact].avatar" alt>
                                        </div>
                                        <div
                                            class="contact-info d-flex flex-column">
                                            <div class="contact-name">
                                                <!--  dinamico -->
                                                <h6>{{contacts[activeContact].name}}</h6>
                                            </div>
                                            <div class="last-msg">  <!--  dinamico -->
                                                <p class="m-0">Ultimo accesso
                                                    oggi alle 12:00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="controls d-flex gap-3">
                                        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                                        <a href="#"><i class="fa-solid fa-paperclip"></i></a>
                                        <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                                    </div>
                                </div>
                                <div class="chat d-flex flex-column">
                                        <div v-for="(message, index) in contacts[activeContact].messages" :class="message.status === 'sent' ? 'user-msg' : 'contact-msg'">
                                            <p>{{contacts[activeContact].messages[index].message}}</p>  <!--  dinamico -->
                                            <div class="hour-sent">  
                                                <p>{{changeDate(activeContact, index)}}</p>  <!--  dinamico -->
                                            </div>
                                            <div class="msg-option dropdown">
                                                <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-chevron-down fa-xs"></i></a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#">Info messaggio</a></li>
                                                    <li><a class="dropdown-item" @click="deleteMsg(activeContact, index)" href="#">Elimina</a></li>
                                                  </ul>
                                            </div>
                                        </div>
                                      
                                </div>
                                <div class="write-bar d-flex justify-content-center align-items-center gap-4">
                                   <a href="#"><i class="fa-regular fa-face-smile"></i></a> 
                                    <input v-on:keyup.enter="sendMsg(activeContact)" v-model="newMsg" class="form-control" type="text" placeholder="Scrivi un messaggio" aria-label="default input example">
                                    <a href="#"><i class="fa-solid fa-microphone"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <script src="
            https://cdn.jsdelivr.net/npm/luxon@3.4.3/build/global/luxon.min.js
            "></script>
            <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
            <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
                crossorigin="anonymous"></script>
            <script src="./assets/js/main.js"></script>
        </body>
    </html>