:root {
    --bz-app-principal: #DBDBD2;
    --bz-app-header: #009688;
    --bz-app-success: #D5F9BA;
    --bz-app-light: #E9EBEB;
    --bz-app-white: #FFFFFF;
    --bz-app-focus: #8EDAFC;
}

a {
    color: rgba(128, 128, 128, 0.651);
    ;
}

h6,
p {
    font-size: .8rem;
}

/* Left */

.left {
    width: 40%;
    background-color: var(--bz-app-white);
}

.user-me-icons,
.input-group-text {
    color: rgba(128, 128, 128, 0.651);
}

.top-bg {
    background-color: var(--bz-app-header);
    height: 145px;
}

.bottom-bg {
    background: linear-gradient(180deg, #dddbd1, #d2dbdc);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {

    background-color: white;
    position: absolute;
    top: 70px;
    padding: 0;
    height: 850px;
}

.right {
    width: 60%;
    background-image: url("/assets/img/mine.jpg");

}

.user-thumb {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.user-me {

    background-color: var(--bz-app-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4rem;
    height: 3.5rem;
}

.user-me-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-me-name {
    margin-top: 0.6rem;
}

.user-me-icons {
    display: flex;
    gap: 1rem;
}

.notify-msg {
    background-color: var(--bz-app-focus);
    height: 85px;

}

.circle>i {
    color: var(--bz-app-focus);
}

.circle {
    background-color: white;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.notify-subtitle {
    color: grey;
    text-decoration: underline;
}

.form-control {
    font-size: .8rem;

}

.search {
    padding: 0.5rem;
}

.search-btn {
    background-color: white;
}

.contact {
    border: 1px solid #0000000d;
    height: 5rem;
}


/* Right */


.last-msg,
.hour,
.controls {
    color: grey;
}

.contact-name h6 {
    margin: 0;
}

.contact-active {
    background-color: var(--bz-app-light);
    padding: .4rem;
    height: 3.5rem;
    border-left: 1px solid #0000000d;
}

.user-msg {
    background-color: var(--bz-app-success);
    align-self: flex-end;

}

.user-msg,
.contact-msg {
    display: flex;
    width: 250px;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
    margin: 0 2rem 1rem;
}

.user-msg p,
.contact-msg p {
    margin: 0;
}

.contact-msg {
    background-color: var(--bz-app-white);
}

.hour-sent p {
    font-size: .5rem;
    position: absolute;
    bottom: 2px;
    right: 5px;
    color: grey;
}

.write-bar {
    background-color: #F3EEEA;
    height: 50px;
    padding: 2rem;

}

.write-bar i {
    color: grey;
}

.all-contacts {
    height: 596px;
    overflow: auto;
}

.chat {
    overflow: auto;
    height: 630px;
}

.active {
    background-color: #dbdbdb88;
}